.wrapper {
    background:  radial-gradient(138.89% 303.35% at 140% 66.21%, #1F1E33 0%, #2A224F 87.18%);
    height: 600vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 10px;
    color: white;
}

.todos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
}

.todo {
    position: relative;
    list-style: none;
    width: 100%;
    box-shadow: 2px 2px 5px #1bc4b5;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: rgb(118, 118, 118);
}

.delete {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.info{ 
    display: flex;
    border: 2px solid #1bc4b5;
    background-color: #201D38;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
}

.btn {
    outline: none;
    background-color: #201D38;
    border: 2px solid #1bc4b5;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    width: 200px;
    padding: 10px 10px;
}